.city-selector {
  margin-top: 50px !important;
}

.city-selector-container {
  font-size: 20px;
}

::ng-deep .mat-select-arrow {
  border-left: 15px solid transparent !important;
  border-right: none !important;
  border-top: 15px solid transparent !important;
  border-image-source: url('../../../assets/icons/Lupatest.svg') !important;
  border-image-repeat: stretch !important;
}